/*Seção de codigo Samir*/
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/Tela\ de\ cadastro\ dos\ produtos.png);
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    
}

.area__main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0vh;
}

.area__retangulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 400px;
    margin: 3%;
    background: rgba(255, 114, 114, 0.30) ;
    box-shadow: 0px 4px 4px rgb(211, 49, 50);
    backdrop-filter: blur(5.5px);
    border-radius: 30px;
}

article {
    display: flex;
    flex-direction:column;
    align-items: center;
    color: #099C2A;
    font-family: 'Popins';
    font-size: 3vw; 
}

.Cabecario__Retangulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.Cabecario__Retangulo--fechar {
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    font-size: 100%;
    width: 100%;
    color: #f70707;
    font-weight: bold;
    margin-right: 10%;
}

.Cabecario__Retangulo--logo {
    width: 40vw;
}

.compra-efetuada {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.compra-efetuada__icone {
    width: 50%;
}

.compra-efetuada__whats {
    padding: 2vw;
    width: 5%;
}

.texto__informacao {
    display: flex;
    width: 90vw;
    align-items: flex-end;
    justify-content: center;
    color: #FF1617;
    font-size: 2vw;
    font-weight: 100;
}


@media (min-width:481px) and (max-width:768px) {
    
article {
        font-size: 2vw; 
    }
    
.area__retangulo{
    width: 80%;
    height: 450px;
}

.Cabecario__Retangulo--logo {
        width: 30vw;
    }

.compra-efetuada__icone {
        width: 45%;
    }

.compra-efetuada__whats {
        width: 4vw;
    }
    
.texto__informacao {
        width: 90vw;
        align-items: center;
        font-size: 1.5vw;
    }
}

@media (min-width:769px) and (max-width:1450px) {
       
.area__retangulo{
    width: 40vw;
    height: 420px;
}
article {
    font-size: 1.5vw; 
}

.Cabecario__Retangulo--logo {
    width: 10vw;
}

.compra-efetuada__whats {
    width: 2vw;
}

.compra-efetuada__icone {
    width: 9vw;
}

.texto__informacao {
    width: 50vw;
    align-items: center;
    font-size: 1vw;
}
}

@media (min-width:1451px) { 
    
body {
    background-image: url(../img/Backgroud-Web.png); 
    background-repeat: no-repeat;
    width: 100vw;
}

.area__retangulo{
    height: 600px;
    width: 500px;
    margin: 10px;       
}

article {
    font-size: 20px; 
}

.Cabecario__Retangulo--fechar {
    font-size: 30px;
}

.Cabecario__Retangulo--logo {
    width: 200px;
}

.compra-efetuada__icone {
    width: 100px;
}

.compra-efetuada__whats {
    max-width: 50px;
    right: 50px;
}

.texto__informacao {
    max-width: 1000px;
    max-height: 90px;
    align-items: center;
    font-size: 20px;
}
       

}