@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fundo-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    height: 70vh;
    border-radius: 10px;
    align-items: center;
    padding: 2vh;
    margin-top: 5%;

}

.texto-tipoproduto{
    display: flex;
    justify-content: flex-start;
    font-family: 'Dongle';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(2em, 2em + 3vw, 3em);
    margin: 0vh;
    color: rgb(255, 114, 114);
    width: 50vw;
    height: 4vh;
    padding: 1%;
}

.opc-tipoproduto{
    display: flex;
    background-color: rgb(255, 114, 114);
    width: 80vw;
    height: 5vh;
    border-radius: 15px;
    border: 0vh;

    font-family: 'Dongle';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 46px;
    text-align: center;
    color: white;
}

.opc-descricao{
    display: flex;
    background-color: rgb(255, 114, 114);
    width: 80vw;
    height: 9vh;
    border-radius: 15px;
    border: 0vh;

    font-family: 'Dongle';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    line-height: 46px;
    text-align: start;
    color: white;
}

.anexar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 14vh;
    background-color: rgb(255, 114, 114);
    border-radius: 15px;
}

.anexo-img{
    width: 16vw;
    height: 9vh;
    background-color: white;
    margin: 1.5vh;
    border-radius: 1vh;
}

.botao-salvar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 4vh;
    background-color: rgb(255, 114, 114);
    border-radius: 1vh;
    margin-top: 2vh;

    font-family: 'Dongle';
    font-style: normal;
    font-weight: 500;
    font-size: 4vh;
    text-align: center;
    color: white;
    border: 0vh;
}