@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.carrinho__lixeira
{
    width: 50px;
    height: 50px;
}

.carrinho
{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4vh;
}

.carrinho__itens
{   
    height: 50vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carrinho__item
{
    margin: 15px;
    background: rgba(205, 141, 141, 0.25);
    border-radius: 25px;
    padding-bottom: 1vh;
    width: 35.5vw;
    height: 21.5vh;
    display: flex;
    justify-content: space-between;
}

.carrinho__imagem_alinhamento
{
    height: 100%;
    margin: 0px;
    align-self: flex-start;
    flex-direction: column;
}

.carrinho__imagem
{
    margin-top: 0.5px;
    width: 17vh;
    border-radius: 20px;
}

.carrinho__info
{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2vh;
}

.carrinho__info_alinhamento
{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.carrinho__botao
{
    width: 18vw;
    height: 7vh;
    background: #FF7272;
    border: none;
    border-radius: 30px;
    font-family: 'Dongle';
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
    color: #faffff;
}

.carrinho__botao:hover
{
    cursor: pointer;
    transition: all .25s;
    box-shadow: 4px 4px 4px 2px rgba(205, 141, 141, 0.25);
    background: #faffff;
    color: #FF7272;
}

.carrinho__confirma
{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
}

.carrinho__texto_titulo
{
    text-align: center;
    font-family: 'Dongle';
    font-size: 6vh;
    font-weight: bold;
    color: #ff7272;
}

.carrinho__texto_subtitulo
{
    margin: 0px;
    text-align: center;
    line-height: 2vw;
    font-family: 'Dongle';
    font-size: 3.5vw;
    font-weight: bolder;
    color: #ff1617;
}

.carrinho__texto_padrao
{
    margin-left: 6px;
    white-space: nowrap;

    font-family: 'Dongle';
    font-size: 1.5vw;
    font-weight: bolder;

    background: linear-gradient(90deg, #FF1617 0%, rgba(255, 22, 23, 0.36) 94.09%, rgba(255, 22, 23, 0) 94.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cor__texto
{
    color: #ff1617;
}

.cor__fundo
{
    background: #FF1617;
}

.cor__fundo:hover
{
    background: #faffff;
    color: #FF1617;
}

.carrinho__adicionar
{  
    margin: 15px;
    width: 100px;
    height: 100px;
    background-color: white;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #ff7272;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrinho__novo
{
    --b: 5px; /* the thickness */
    width: 55px; /* the size */
    aspect-ratio: 1;
    border: 10px solid #000; /* the outer space */
    background:
        conic-gradient(from 90deg at var(--b) var(--b),#000 90deg,#fff 0) 
        calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
        calc(50%  + var(--b))   calc(50%  + var(--b));
    display: inline-block;
}

.alt 
{
    border: none;
    margin: 10px;
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#fff 90deg,#ff7272 0) 
      calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
      calc(50%  + var(--b))   calc(50%  + var(--b));
} 


@media (max-height: 500px)
{
    .carrinho__itens
    {   
        height: 50vh;
        overflow-y: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .carrinho__imagem
    {
        margin-top: 0.5px;
        width: 8vw;
        border-radius: 20px;
    }

    .carrinho__texto_padrao
    {
        margin-left: 6px;
        white-space: nowrap;

        font-family: 'Dongle';
        font-size: 3.5vh;
        font-weight: bolder;

        background: linear-gradient(90deg, #FF1617 0%, rgba(255, 22, 23, 0.36) 94.09%, rgba(255, 22, 23, 0) 94.1%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

@media (max-width: 768px) and (min-height: 501px)
{

    



    .carrinho__itens
    {   
        height: 50vh;
        overflow-y: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .carrinho__item
    {
        margin: 15px;
        background: rgba(205, 141, 141, 0.25);
        border-radius: 25px;
        padding-bottom: 1vh;
        width: 84vw;
        height: 13vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    figure a
    {
        width: 100%;
    }
    .carrinho__imagem
    {
        margin-top: 0.5px;
        width: 63%;
        border-radius: 20px;
    }

    .carrinho__info
    {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .carrinho__info_alinhamento
    {
        display: flex;
        flex-direction: column;
        
    }

    .carrinho__botao
    {
        width: 56.5vw;
        height: 7vh;
        background: #FF7272;
        border: none;
        border-radius: 30px;
        font-family: 'Dongle';
        font-size: 3.5vh;
        font-weight: bolder;
        color: #faffff;
    }

    .carrinho__confirma
    {
        
        margin-top: 2vh;
        gap: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carrinho__texto_titulo
    {
        text-align: center;
        font-family: 'Dongle';
        font-size: 6vh;
        font-weight: bold;
        color: #ff7272;
        line-height: 4vh;
    }

    .carrinho__texto_subtitulo
    {
        margin-bottom: 0px;
        text-align: center;
        font-family: 'Dongle';
        line-height: 3.5vh;
        font-size: 3vh;
        font-weight: bolder;
        color: #ff1617;
    }

    .carrinho__texto_padrao
    {
        margin-left: 6px;
        white-space: nowrap;

        font-family: 'Dongle';
        font-size: 2vh;
        font-weight: bolder;

        background: linear-gradient(90deg, #FF1617 0%, rgba(255, 22, 23, 0.36) 94.09%, rgba(255, 22, 23, 0) 94.1%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .cor__texto
    {
        color: #ff1617;
    }

    .cor__fundo
    {
        background: #FF1617;
    }

    .cor__fundo:hover
    {
        background: #faffff;
        color: #FF1617;
    }

}