@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (max-width: 480px)
{
    

    #principal {
        font-family: 'Dongle', Helvetica, sans-serif;
        background-image: url(../img/pagina-detalhes/Layout.png);
        margin: 0%;
        padding: 0%;
        position: relative;
    }

    .pagina-alinhamento
    {
        
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    .pagina-divisao_produto
    {
        margin: 15px;
        background: rgba(205, 141, 141, 0.25);
        border-radius: 25px;
        padding-bottom: 1vh;
        width: 84vw;
        height: 13vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pagina-imagem_alinhamento
    {
        margin: 0px;
        align-self: flex-start;
        flex-direction: column;
    }

    .pagina-imagem_produto
    {
        margin-top: 0.5px;
        height: 11vh;
        border-radius: 20px;
    }

    .pagina-alinhamento-info
    {
        flex-direction: column;
    }

    .pagina-imagem_lixeira
    {
        width: 50px;
        height: 50px;
    }

    .pagina-botao
    {
        width: 56.5vw;
        height: 7vh;
        background: #FF7272;
        border: none;
        border-radius: 30px;
        font-family: 'Comfortaa', cursive;
        font-size: 2vh;
        font-weight: bolder;
        color: #faffff;
    }

    .pagina-estilo_texto-titulo
    {
        text-align: center;
        font-family: 'Comfortaa';
        font-size: 4vh;
        font-weight: bold;
        color: #ff7272;
    }

    .pagina-estilo_texto-subtitulo
    {
        text-align: center;
        font-family: 'Comfortaa';
        font-size: 2vh;
        font-weight: bolder;
        color: #ff1617;
    }

    .pagina-estilo_texto-padrao
    {
        margin-left: 6px;

        font-family: 'Comfortaa';
        font-size: 1vh;
        font-weight: bolder;

        background: linear-gradient(90deg, #FF1617 0%, rgba(255, 22, 23, 0.36) 94.09%, rgba(255, 22, 23, 0) 94.1%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}