@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#principal {
    font-family: 'Dongle', Helvetica, sans-serif;
    background-image: url(../img/pagina-detalhes/Layout.png);
    margin: 0%;
    padding: 0%;
    position: relative;
}

.pagina-estilo_texto-titulo
{
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 4vh;
    font-weight: bold;
    color: #ff7272;
}

.pagina-estilo_texto-subtitulo
{
    margin-left: 5vw;
    margin-bottom: 0px;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: 2vh;
    font-weight: bolder;
    color: #ff1617;
}

.pagina
{
    margin: 4vw;
    background: rgba(205, 141, 141, 0.25);
    border-radius: 30px;
    padding-bottom: 1vh;
    width: 92.5vw;
    height: 62vh;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pagina_input-linha-1
{
    gap: 5vw;
    display: flex;     
    flex-direction: row;
}

.pagina_input-secao
{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.pagina_input_1
{
    width: 37.5vw;
    height: 5vh;

    background: #FFFFFF;
    border: 2px solid #FF7272;
    border-radius: 25px;
}

.pagina_input_2
{
    width: 80vw;
    height: 5vh;

    background: #FFFFFF;
    border: 2px solid #FF7272;
    border-radius: 25px;
}

.pagina_input_botao
{
    margin-top: 2vh;
    width: 34vw;
    height: 6.5vh;    

    background: #FF7272;
    border: 1px solid #FF7272;
    border-radius: 30px;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: 2vh;
    font-weight: bolder;
    color: #ffffff;
}
