/*Seção de codigo Samir*/
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#principal {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/pagina-detalhes/Layout.png);
    background-repeat: no-repeat;
}

.logo__alinhamento {
    display: flex;
    flex-direction: column;
    /* background-color: aqua;*/
    text-align: center;
}


.logo__imagem {
    align-self: center;
    width: 81px;
}

.logo__texto {
    color: white;
    font-family: 'Dongle', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    -webkit-text-stroke: 1px #FF7272;
}

.logo__texto--da {
    font-size: 12px;
}

/*Fim da seção Samir*/

/*Seção de codigo Eduardo*/

/*Fim da seção Eduardo*/

/*Seção de codigo Tailine*/

/*Fim da seção Tailine*/

/*Seção de codigo Thiago*/

/*Fim da seção Thiago*/

/*Seção de codigo Rafael*/

.header__menu-topo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 381.63px;
    height: 56px;
    
}
.header__botao_sandwich
{
    visibility: hidden;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__botao_sandwich:active  
{
    visibility: visible;
    width: 56px;
    height: 63px;
    background-color: #ff7272;
    border-radius: 20px 20px 0px 0px;
    border: none;
}
.header__image_1
{
    visibility: visible;
    width: 56px;
    height: 56px;
}


/*Fim da seção Rafael*/