/*Seção temporari*/

.img__carrossel,
.img__sustentabilidade,
.img__ofertas,
.img__moda-da-casa,
.img__variedades,
.img__rodape,
footer {
    width: 100vw;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    position: static;
}

.img__carrossel {}

.img__sustentabilidade {
    width: 100%;
    height: 100%;
}

.img__ofertas {}

.img__moda-da-casa {}

.img__variedades {}

.img__rodape {}

/*Fim da seção temporária*/

* {
    padding: 0;
    margin: 0;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.slider {
    width: 100vw;
    height: 45vw;
}

.slider img {
    width: 100%;
    height: 100%;
    display: none;
}

.slider input {
    display: none;
}

.slider label {
    position: absolute;
    background: var(--standard-pink-white);
    width: 15px;
    height: 15px;
    border-radius: 20px;
    bottom: -20px;
    z-index: 3;
}

.slider li {
    list-style: none;
    position: absolute;
    width: inherit;
    height: inherit;
}

.slider li:nth-child(1) label {
    left: calc(50% - 40px);
}

.slider li:nth-child(2) label {
    left: calc(50% - 20px);
}

.slider li:nth-child(3) label {
    left: calc(50%);
}

.slider li:nth-child(4) label {
    left: calc(50% + 20px);
}

.slider li:nth-child(5) label {
    left: calc(50% + 40px);
}

.slider li input:checked~img {
    opacity: 1;
    display: unset;
    z-index: 3;
}

.sustentabilidade {
    width: 60vw;
}

@media (orientation: landscape) {

    .slider {
        height: 30vw;
    }

    .slider img {
        width: 80%;
        padding: 0 10%;
    }
}