/*Seção de codigo Samir*/

/*Fim da seção Samir*/

/*Seção de codigo Eduardo*/

/*Fim da seção Eduardo*/

/*Seção de codigo Tailine*/

/*Fim da seção Tailine*/

/*Seção de codigo Thiago*/

/*Fim da seção Thiago*/

/*Seção de codigo Rafael*/

.header__menu-topo
{
    position: absolute;
    width: 381.63px;
    height: 56px;
    left: 23px;
    top: 135px;
}
.header__botao_sandwich
{
    visibility: hidden;
    width: 56px;
    height: 56px;
    left: 23px;
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__botao_sandwich:active  
{
    visibility: visible;
    width: 56px;
    height: 63px;
    background-color: #ff7272;
    border-radius: 20px 20px 0px 0px;
}
.header__image_1
{
    visibility: visible;
    width: 56px;
    height: 56px;
}


/*Fim da seção Rafael*/