@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    
    font-family: 'Poppins';
    background: rgba(239, 31, 31, 0.2);
    margin: 0%;
    width: 100vw;
}


.area__bot--entrar { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    width: 15%;
    height: 30px;
}


.area__logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.area__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    width: 100%;
 }

.area__texto {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 10%;
}

.botao__entrar-font {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #017A36;
    border: 5vw;
    width: 200%;
    height: 60px;
    border-radius: 10vw;
    color: white;
    font-size: 100%;
    font-weight: 700;
}

.cadastro__admin {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

input {
    display: flex;
    width: 100%;
    height: 30px;
    border-radius: 10vw;
    border: 0.5vw solid #FF7272;
    filter: box-shadow: 5px 5px 5px 5px rgba(255, 114, 114, 0.2);
}

.logo__web {
    margin: 0%;
    width: 40%;
}
.senha__admin {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.texto__input {
    font-weight: 700;
    font-style: normal;
    color: rgba(255, 22, 23, 0.69);
    font-size: 100%;
    margin: 0%;  
}

@media (min-width:481px) and (max-width:768px) {

body {
    background: rgba(239, 31, 31, 0.2);
}

input {  
    background: rgba(69, 197, 176, 0.08);
    border: 0.5vw solid #FF7272;
    width: 100%;
    height: 30px;
 }

.texto__input  {
    font-weight: 800;
    font-size: 150%;
}


.logo__web {
    width: 40%;
    margin: 0%
}

a {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    font-size: 60%;
}

.area__retangulo {
    display: none;
}

.texto__input {
    font-size: 150%;

}

.area__main {
    margin-top: 10%;
    width: 100vw;
}


.area__bot--entrar { 
    margin: 0%;
    margin-bottom: 20%;
    width: 12%;
    height: 40px;
}

}

@media (min-width:769px) and (max-width:1450px) {

body {
    display: flex;    
    flex-direction: column;
    align-items: center;
    background: rgba(239, 31, 31, 0.2);;
    margin: 0%;
}

.area__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*
    background-image:linear-gradient(45deg,  #90d37592, #f04c70);
    */
    background: linear-gradient(179.97deg, rgba(249, 0, 0, 0.138) -12.28%, rgba(239, 31, 31, 0.2) 89.1%);
    border-radius: 30px;
    width: 60vh; 
    height: 900px;
 }

.area__bot--entrar {
    width: 90%;
}


.area__texto {
    align-items: center;
    width: 100%;
}

.botao__entrar-font {
    width: 35%;
    font-size:100%;
}

input {  
    background: white;
    border: 0.1vw solid white;
    width: 100%;
    height: 25px;
 }

.logo__web {
    margin: 0vw;
    width: 40%;
}

.texto__input  {
    color: #FAFFFF;
    font-size: 75%;
}


}

@media (min-width:1451px) {

body {
        display: flex;    
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        margin: 0%;
        
    }
    
.area__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(239, 31, 31, 0.2);
        border-radius: 30px;
        max-width: 500px; 
        height: 500px;
        
}
     
.botao__entrar-font { 
    font-size:  10px;
}

input {  
    max-width: 150px;
    max-height: 25px;
    border: 1px;
    background-color: #fcf9f9;
    color: #ff4444;
}

.logo__web {
    margin: 0vw;
    max-width: 100px;
}

.texto__input  {
    color: #ff4444;
    font-size: 75%;
}

}