@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins';
    background-image:linear-gradient(45deg,  #75d3cd92, #f04c70);
    margin: 0%;
    width: 100vw;
}

a {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 50%;
    color: #017A36;
}

.area__bot--entrar { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    width: 15%;
    height: 30px;
}


.area__logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.area__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    width: 100%;
 }

.area__texto {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 10%;
}

.botao__entrar-font {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #017A36;
    border: 5vw;
    width: 200%;
    height: 60px;
    border-radius: 10vw;
    color: white;
    font-size: 100%;
    font-weight: 700;
}

.cadastro__admin {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

input {
    display: flex;
    width: 100%;
    height: 30px;
    border-radius: 10vw;
    filter: box-shadow: 5px 5px 5px 5px rgba(255, 114, 114, 0.2);
}

/*
input:focus { 
    transform: filter (0.3seg);
    background-color: rgb(229, 222, 222);
    border: 1vw solid rgba(222, 213, 213, 0.71);
}
*/

.logo__web {
    margin: 0%;
    width: 40%;
}
.senha__admin {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.texto__input {
    font-weight: 700;
    font-style: normal;
    color: rgba(255, 22, 23, 0.69);
    font-size: 100%;
    margin: 0%;  
}

@media (min-width:481px) and (max-width:768px) {

body {
    background-color: rgb(253, 205, 251);
    }

input {  
    background: rgba(69, 197, 176, 0.08);
    border: 0.5vw solid #FF7272;
    width: 100%;
    height: 30px;
 }

.texto__input  {
    font-weight: 800;
    font-size: 150%;
}


.logo__web {
    width: 40%;
    margin: 0%
}

a {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    font-size: 60%;
}

.area__retangulo {
    display: none;
}

.texto__input {
    font-size: 150%;

}

.area__main {
    margin-top: 10%;
    width: 100vw;
}


.area__bot--entrar { 
    margin: 0%;
    margin-bottom: 20%;
    width: 12%;
    height: 40px;
}

}

@media (min-width:769px) and (max-width:5000px) {

body {
    display: flex;
    background-image:linear-gradient(45deg,  #100101ec, #e40031);
    flex-direction: column;
    align-items: center;
    margin: 0%;
}
a {
    font-size: 50%;
    color: #017A36;
}

.area__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(45deg,  #90d37592, #f04c70);
    border-radius: 30px;
    width: 35%; 
    height: 550px;
 }

.area__bot--entrar {
    width: 90%;
}


.area__texto {
    align-items: center;
    width: 100%;
}

.botao__entrar-font {
    width: 35%;
    font-size:100%;
}

input {  
    background: white;
    border: 0.1vw solid white;
    width: 100%;
    height: 25px;
 }

.logo__web {
    margin: 0vw;
    width: 40%;
}

.texto__input  {
    color: #FAFFFF;
    font-size: 75%;
}


}