/*Seção de codigo Samir*/
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p {
    font-family: 'Poppins';
    font-style: normal;
}

.area__retangulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(50deg, rgb(238, 119, 119),rgba(211, 125, 125, 0.329));
    margin-top: 8vw;
    width: 70vw;
    border-radius: 30px;
}

.area__util {
    display: flex;
    justify-content: center;
}

.blusa__frente {
    width: 50vw;
}

.organiza__cabecario {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-family:'Poppins';
    margin-right: 5vw;
    color: #FF1617;
}

.organizacao__img-grande {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.organizacao__img-pequena {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.tamanho__blusa {
    padding: 5%;
    width: 10vw;

}

.texto__descricao {
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    font-weight: 800;
    font-size: 4vw;
    color: white;
}

.texto__preco-tamanho {
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    color: white;
}



@media (min-width:769px) and (max-width:1450px){

.area__retangulo { 
        width: 50vw;
        height: 700px;
}

.blusa__frente {
    width: 30vw;
}

.organiza__cabecario {
    margin-right: 1vw;
    color: #eb0808e1;
}

.tamanho__blusa {
    padding: 2%;
    width: 6vw;

}

.texto__descricao { 
    text-align: center;
    font-size: 2vw;
}

.texto__preco-tamanho {
    font-size: 2vw;
}

}

@media (min-width:1451px){

.area__retangulo { 
        max-width: 800px;
        max-height: 1000px;
    }
    
.blusa__frente {
    max-width: 400px;
}
    
.organiza__cabecario {
    font-size: 25px;
    margin-right: 25px;
    color: #eb0808e1;
}

.tamanho__blusa {
    padding: 10px;
    width: 100px;

}

.texto__descricao { 
    text-align: center;
    font-size: 50px;
}

.texto__preco-tamanho {
    font-size: 50px;
}
    


}