/*Seção de codigo Samir*/
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p {
    font-family: 'Poppins';
    font-style: normal;
    margin-bottom: 0%;
    margin: 0%;
}

.area__retangulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(179.97deg, rgba(249, 0, 0, 0.138) -12.28%, rgba(239, 31, 31, 0.2) 89.1%);
    margin-top: 5vw;
    width: 90vw;
    border-radius: 30px;
    margin-bottom: 50%;
}

.area__util {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

button{
    background: none;
    margin: 0;
    border: 0;
    padding: 0;
}

.btn__add-carrinho{
    border-radius: 5px;
    padding: 5px;
    width: 5rem;
    background-color: #FF7272;
    margin: 2rem;

}
.btn__add-carrinho:hover{
    cursor: pointer;
}
.organize__btn{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.blusa__frente {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.blusa__frente-img {
    width: 55vw;
}

h2{
    font-size: 2vw;
    margin: 0%;
}

.organiza__cabecario {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-family:'Poppins';
    margin-top: 2vw;
    margin-right: 6vw;
    color: #FF1617;
}

.organiza__descricao{
    display: flex;
    flex-direction: column; 
    width: 60vw;
}

.organizacao__img-grande {
    display: flex;
    flex-direction: column;
}

.organizacao__img-pequena {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}

.tamanho__blusa {
    padding: 5%;
    width: 10vw;

}

.texto__descricao {
    display: flex;
    width: 80%;
    margin-top:0%;
    margin-bottom: 2%;
    font-weight: 300;
    font-size: 3vw;

}

.texto__detalhe {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.texto__tamanho {
    display:flex;
    justify-content: space-around;
    font-style: normal;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 4vw;
    color: rgb(0, 0, 0);

}

.texto__preco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto__preco-tamanho {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-family: 'Poppins';
    width: 80%;
    font-size: 4vw;
    margin-bottom: 2vw;
    
}

.texto__preco-tamanho--de {
    
    text-decoration: line-through;
    font-family: 'Poppins';
    margin-bottom: 1vw;
    font-weight: 400;
    font-size: 3vw;
    color: red
}

.texto__preco-tamanho--por {
    background-color: #0bfa6f;
    font-family: 'Poppins';
    margin-bottom: 1vw;
    font-weight: 600;
    font-size: 4vw;
    color: rgb(12, 12, 12);
}




@media (min-width:769px) and (max-width:1950px){

.area__retangulo { 
    width: 90vw;
        
}



.organiza__cabecario {
    margin-right: 2vw;
    color: #eb0808e1;
}

.tamanho__blusa {
    padding: 2%;
}

.texto__descricao { 
    font-size: 4vw;
}

.texto__preco-tamanho {
    margin-top: 5%;
}

.texto__preco-tamanho--de {
    font-size: 3vw;
}

.texto__preco-tamanho--por {
    font-size: 6vw;
}


.texto__tamanho {
    font-size: 5vw;
}

}

@media (min-width:1951px){

.area__retangulo {
        max-width: 1000px;
        max-height: 1500px;
        border-radius: 50px;
    }

.blusa__frente {
    width: 20px;
}
.blusa__frente-img {
    width: 40px;
}

.btn__add-carrinho {
    width: 10vw;
}

h2{
    font-size: 30px;
    margin: 0%;
}

.organiza__cabecario {
    margin-right: 50px;
    font-size: 40px;
}

.organiza__descricao{
    width: 800px;
}

.tamanho__blusa {
    padding: 40px;
    max-width: 150px;
}

.texto__descricao { 
    font-size: 40px;
}

.texto__preco-tamanho {
    width: 800px;
    margin-top: 25px;
}

.texto__preco-tamanho--de {
font-size: 20px;
}

.texto__preco-tamanho--por {
font-size: 30px;
}

.texto__tamanho {
    font-size: 40px;
}

}