@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 5vw;
    font-family: 'Dongle', Helvetica, sans-serif;
    max-width: 2300px;
    margin: auto;
    background-color: #faffff;
}

main{
    display: flex;
    flex-direction: column;
    font-family: 'Dongle', Helvetica, sans-serif;
    width: 100vw;
}
img {
    width: 100%;
    border-radius: 5px
}
.grupo__pedido {
    background-color: rgba(205, 141, 141, 0.3);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin-top: 1vw;
    border-radius: 5px;
    max-width: 570px;
}
.txt__title-pedidos {
    color: #ff1617;
    font-size: 3rem;
    text-align: center;
    font-max-size: 40px;
}
.img__pedidos {
    width: 14vw;
    max-width: 230px;
}
.title__imput {
    display: flex;
    width: 5rem;
    max-width: 190px;
    font-size: 3.5vw;
    margin: 0;
    font-max-size: 30px;
}
.imput__pedidos {
    line-height: 1rem;
    font-size: 6vw;
    width: 6rem;
    max-width: 204px;
    text-align: center;
    background-color: #faffff;
    border-radius: 5px;
    margin: 0;


}
.organiza__imput-l1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: flex-start;
    align-items: flex-start;
    max-width: 570px;
    gap: 0.4rem;
}
.cliente {
    width: 10rem;
    max-width: 230px;
}
.endereco {
    width: 18rem;
    max-width: 600px;
}
.organize__l1 {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;

}
.organize__l2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.7rem;
}
.organize__l3 {
    width: 10rem;
    text-align: right;
    align-items: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.organiza__grupo-1 {
    flex-direction: row;
}
.btn__confirmar{
    margin-top: 0.5rem;
    text-align: center;
    border-radius: 10px;
    color: #faffff;
    font-weight: 600;
    line-height: 1rem;
    border: 0;
    background-color: #057C36;
    width: 20%;
    font-size: 0.5rem;
}
.btn__cancelar{
    margin-top: 0.5rem;
    text-align: center;
    border-radius: 10px;
    color: #faffff;
    font-weight: 600;
    line-height: 1rem;
    border: 0;
    background-color: red;
    width: 20%;
    font-size: 0.5rem;
}
.btn__cancelar:hover{
    cursor: pointer;

}
.organiza__btn-confirma{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.btn__confirmar:hover{
    cursor: pointer;
}
@media screen and (min-width: 480px) {

    .imput__pedidos {
        font-size: 5vw;
        max-width: 204px;

    }

    .title__imput {
        font-size: 3.5vw;
    }

    .cliente {
        width: 12rem;
        max-width: 50vw;
        font-size: 5vw;
    }

    .endereco {
        width: 100%;
        max-width: 100vw;
        font-size: 5vw;
    }

    .organize__l3 {
        align-items: flex-start;
        width: 100%;
        text-align: justify;
    }

}
@media screen and (min-width: 679px) {
    .img__pedidos{
        width: 100px;
    }

    main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .txt__title-pedidos {
        font-size: 80px;
    }

    .title__imput {
        font-size: 20px;

    }
    .imput__pedidos{
        font-size: 34px;
        line-height:34px ;
    }

    .cliente{
        font-size: 34px;
        width: 314px;
    }

    .organize__l2{
        width: 542px;
    }

    .btn__confirmar{
        font-size: 18px;
        width: 120px;
        line-height: 40px;
    }
    .btn__cancelar{
        font-size: 18px;
        width: 120px;
        line-height: 40px;
    }
}
:root {
    --standard-font: 'Dongle', Helvetica, sans-serif;
    --standard-pink: #FF7272;
    --standard-pink-white: #FCF1EE;
    --standard-green: #7BB593;
}
body {
    box-sizing: content-box;
    transform: none;
    width: 100vw;
    font-family: var(--standard-font);
    background-image: url(../img/menus/Backgroud-Web.png);
    background-size: contain;
    background-clip: border-box;
}
footer {
    position: fixed;
    bottom: 0;
    background: var(--standard-pink);
    width: 100vw;
}
.footer__menu {
    display: flex;
    height: 45px;
    width: 100vw;
    align-content: center;
    justify-content: space-evenly;
}
.footer__menu-icon {
    color: #faffff;
    height: 100%;
    background: var(--standard-pink);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__menu-icon--img {
    color: white;
    height: 80%;
}
h1 {
    margin: 0;
    font-weight: 800;
    line-height: 1rem;
    font-size: 1rem;
    color: white;
    -webkit-text-stroke: 1px var(--standard-pink);
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header__form {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
.header__icon-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 1vh 3vw;
    align-items: center;
    z-index: 10;
}
.header__icon-menu--conjunto {
    display: none;
}
.header__icon-menu--icon {
    width: 7vw;

}
#header__input {
    font-size: 1.1rem;
    text-align: center;
    color: var(--standard-pink);
    height: 4.64vh;
    width: 100%;
    background: none;
    border: none;
    display: none;
}
#header__input:focus {
    outline: none;
}
input#header__input::placeholder {
    color: var(--standard-pink);
    text-align: center;
    opacity: 0.5;
    font-weight: bolder;
    font-size: 1rem;
}
.header__logo {

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header__logo--hidden {
    display: none;
}
.header__menu-sandwiche {
    width: 42px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.header__menu-sandwiche--linha {
    background-color: var(--standard-pink);
    width: 42px;
    height: 4px;
    border-radius: 10px;
}
.header__menu-sandwiche--conjunto {
    display: none;
}
#header__search {
    display: flex;
    width: 60px;
    height: 38px;
    border-color: var(--standard-pink);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    transition: width 0.3s;
    justify-content: flex-start;
    align-items: center;
}
#header__search:hover {
    width: 40vw;
}
#header__send {
    background: none;
    border: none;
    height: 28px;
}
#header__send-lupa {

    width: 27%;
}
#header__send-lupa--posicao {
    width: 60px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__text-menu {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    z-index: 5;
}
.header__text-menu--nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__text-menu--text {
    color: white;
    font-family: 'Dongle', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--standard-pink);
    width: 25vw;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 94px;
}
.header__text-menu--text:hover {
    background-color: #f7a6a6;
}
@media (orientation: portrait) {
    .header__text-menu-hidden {
        display: none;
    }
}
@media (orientation: landscape), (min-width: 835px) and (max-width: 1109px) {
    header {
        display: none;
    }
    #header__form {
        padding-bottom: 1.3vh;
        margin-top: 7vh
    }
    .header__icon-menu {
        width: 100%;
        height: max-content;
        align-items: center;
        position: static;
        padding: 0 3vw;
    }
    .header__icon-menu--conjunto {
        display: flex;
        gap: 4vw;
        align-self: flex-end;
        padding-bottom: 1.3vh;
    }
    .header__icon-menu--hidden {
        display: none;
    }
    .header__icon-menu--icon {
        width: 35%;
        height: 7vw;
        max-height: 70px;
        max-width: 80px;
    }
    .header__logo {

        filter: none;

    }
    .header__logo--hidden {
        display: unset;
        position: relative;
        width: 17%;
        max-width: 170px;

    }
    .header__menu-sandwiche {
        padding-left: 1vw;
    }
    .header__menu-sandwiche--conjunto {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 32vw;
        gap: 2vw;
        background-color: var(--standard-pink);
    }
    .header__menu-sandwiche--hidden {
        display: none;
    }
    .header__menu-sandwiche--linha {
        background-color: white;
    }
    #header__search:hover {
        width: 25vw;
    }
    .header__text-menu {
        flex-wrap: nowrap;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    .header__text-menu-hidden {
        display: flex;
        justify-content: space-around;
        width: 16.6666%;
    }
    .header__text-menu--nav {
        display: flex;
        flex-direction: row;
        width: 68vw;
    }
    .header__text-menu--text {
        height: 45px;
        width: 16.666%;
        font-size: 0.7rem;


    }
    .header__menu-sandwiche--texto {
        width: auto;
        line-height: 1rem;
    }}
@media (max-width: 380px) {

    .header__icon-menu--icon {
        padding: 5px;
    }

    .header__menu-sandwiche {
        padding: 5px;
    }

    .header__text-menu--text {
        width: 50%;
    }

    #header__search:hover {
        width: 145px;
    }
}
@media (min-width: 580px) {
    #header__search {
        width: 35vw;
    }
}
@media (min-width: 480px) and (max-width: 834px) and (orientation: landscape) {

    #header__search {
        width: 35vw;
    }

    #header__search:hover {
        width: 35vw;
    }

    .header__text-menu--text {
        min-width: 0;
        font-size: 0.7rem;
    }
}
@media (min-width: 835px) and (min-height: 420px) {
    #header__search {
        width: 25vw;
        
    }

    footer {
        display: none;
    }
}
@media (min-width: 1100px) {
    .header__text-menu--text{
        font-size: 40px;
    }
    
}
[class="main-pedido"]img {
    width: 100%;
    border-radius: 5px
}




