@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dongle:wght@400;700&display=swap');

.viewport{
    width: 426px;
    height: 926px;
    background-color: white;
    border-width: 10px 455px 10px;
    border-color: black;
    border-style: solid;
}


.background {
    font-family: Arial, Helvetica, sans-serif;
}

.logo__alinhamento {
    display: flex;
    justify-content: center;
}

.logo__imagem {
    width: 81px;

}

.texto_alinhamento{
    text-align: center;
    text-size-adjust: 50px;
    line-height: 5px; 
    font-size: 1.0vh;
    font-family: 'Comfortaa', cursive;
    color: #ff1617;
}

.fundo_blog{
    display: flex;

    width: 402px;
    height: 400px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.fundo_info{
    display: flex;
    justify-content: flex-start;
    width: 50vw;
}