@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dongle:wght@400;700&display=swap');

.text__base-normal{
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 100%;
    font-weight: bolder;
    color: #ff1617;
    line-height: 2;
}

.text__price-size{
   text-align: justify;
    font-weight: bold;
    width: 100vw;
    justify-content: space-between ;
    font-size: 2.5vh;
}



.text__title{
    font-weight: bold;
    width: 100vw;
    text-align: center;
    font-size: 5vh;

}
.img__product{
    width: 100%}

.position__pdct-description {
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 20px;
    justify-content: space-between;


}
body{

}

.trash__wish-list{
    display: flex;
    justify-content: flex-end;
    height: 5vh;

}
.footer__wish-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
}

.bkg__wish-list{
    ;
}

.btn__add-carrinho{
    background-color: #ff7272;
    text-align: center;
    align-items: center;
    font-size: 2vw;
    padding: 10px;
    border-radius: 25px;
    color: white;
    font-family: 'Comfortaa', cursive;
    display: flex;
    height: 5vh;
}