@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dongle:wght@400;700&display=swap');

.text__base-normal{
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: bolder;
    color: #ff1617;
    line-height: 2;
}

.text__price-size{
   text-align: justify;
    font-weight: bold;
    width: 100%;
    justify-content: space-between ;
    font-size: 25px;
}



.text__title{
    font-weight: bold;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 30px;

}
.img__product{
    width: 100%}

.position__pdct-description {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: space-between;


}


.trash__wish-list{
    display: flex;
    justify-content: flex-end;
    height: 40px;

}
.footer__wish-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.bkg__wish-list{
    display: flex;
    flex-direction: column;
    box-shadow: gray 1px 1px 1px 1px;
    border-radius: 25px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    ;
}

.btn__add-carrinho{
    background-color: #ff7272;
    text-align: center;
    align-items: center;
    font-size: 2.5vw;
    padding: 10px;
    border-radius: 25px;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    display: flex;
}